<h1>Today's Pantscast</h1>

<h2><%= @message %></h2>

<h5>Currently the temperature is <%= @currently %></h5>
<h5>The temperature for the past 5 hours was:

  <%= @hourly_message %>


</h5>
<h5>  Its going to <%= @cloudy_message %></h5>
<h5> It's going to be a <%= @pants_message %></h5>
