<img src='<%= @responses['new'][0]['image'] %>'>
<br>
<a href='<%= @responses['new'][0]['link'] %>'target="_blank"> <%=  @responses['new'][0]['title']  %> </a>
<br>
by <%= @responses['new'][0]['author'] %>
<br>
<br>
<img src='<%= @responses['rising'][0]['image'] %>'>
<br>
<a href="<%= @responses['rising'][0]['link'] %>"target="_blank"> <%= @responses['rising'][0]['title'] %></a>
<br>
by <%= @responses['rising'][0]['author'] %>
<br>
<br>
<img src="<%= @responses['hot'][0]['image'] %>">
<br>
<a href="<%= @responses['hot'][0]['link'] %>"target="_blank"><%= @responses['hot'][0]['title'] %></a>
<br>
by <%= @responses['hot'][0]['author'] %>
